* {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(191, 148, 231);
}

main {
    background-color: white;
    width: 500px;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.459);
}

header h1 {
    color: blue;
    text-align: center;
    font-size: 32px;
}

.lado {
    width: 20%;
    float: right;
}